* {
    margin: 0;
	padding: 0;
	border: 0;}

#cabeçalho{
    background-color: rgb(92, 149, 241);
    height: 15%;
   
}
#text1{
    display: flex;
    color: rgb(238, 148, 75);
    text-align: center;
justify-content: center;
    align-items:center;
    font-size: 90px;
}
#fotos{
    display: flex;
    height: 80%;
    margin-left: 200px;
}


body{
    background-color: rgb(238, 238, 203);
    height: 100vh;
    width: 100%;
}

#tudo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
font-size: 25px;
margin-top: 200px;
}

#mudabotao{
display: flex;
flex-direction: column;
}

#but1{
   color: rgb(0, 212, 81);
    height: 150px;
    width: 250px;
    margin-left: 150px;
    margin-top: 50px;
    background-color: rgb(246, 246, 133);
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
	cursor:  pointer;
}
#text2{
    margin-top: 25px;
}

button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
#drt{
    font-size: 25px;
   
}
